body {
    margin: 0;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #F9FAF8;
    background-color: #1F2937;
    font-size: 24px;
    font-weight: bold;
    justify-content: space-between;
    padding: 10px 100px 0px; 
}

.right-links ul {
    display: flex;
    gap: 20px;
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-weight: normal;
    font-size: 18px;
    color: #E5E7EB;
}

.first {
    background-color: #1f2937;
    color: #F9FAF8;
    display: flex;
    justify-content: center;
    padding: 100px;
    gap: 100px;
}

.introduction {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 500px;
    align-items: start;
    color: #F9FAF8;

}

.sub-heading {
    font-weight: normal;
    font-size: 18px;
    color: #E5E7EB;
    
}

.intro-text {
    font-size: 48px;
    font-weight: 900;
}

.sign-up {
    background-color: #3882f6;
    color: #F9FAF8;
    font-weight: bold;
    border: 0;
    border-radius: 5px;
    padding: 8px 25px;

}

.first img {
    width: 550px;
    height: 275px;
}

.second {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
    gap: 50px;
}

.heading {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.card-container {
    display: flex;
    gap: 50px;
}

.card {
    display:flex;
    flex-direction: column;
    align-items: center;
}

.box {
    border: 5px solid #3882f6;
    width: 200px;
    height: 210px;
    border-radius: 20px;
}

.third {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #E5E7EB;
    padding: 100px 300px;
}

.quote {
    font-size: 32px;
    color: #1F2937;
    font-weight: lighter;
    font-style: italic;
}

.author {
    font-size: 24px;
    color: #1F2937;
    font-weight: 900;
    align-self: flex-end;
}

.fourth {
    display: flex;
    padding: 100px;
    justify-content: center;
}

.modal {
    display: flex;
    justify-content: space-between;
    padding: 40px 100px;
    background-color: #3882f6;
    color:#F9FAF8;
    font-weight: 900;
    font-size: 24px;
    align-items: center;
    border-radius: 10px;
    flex-wrap: wrap;
    overflow: hidden;
    width: 1000px;
}

.call-text {
    font-weight: 100;
    font-size: 18px;
    color: #E5E7EB;
}

.sign-up-inverted {
    background-color: #3882f6;
    border: 2px solid white;
    padding: 0 40px;
    color:#E5E7EB;
    border-style: solid;
    border-radius: 10px;
    font-weight: 900;
    height: 35px;
    flex-shrink: 1;
    
}

.call-container {
    display: flex;
    flex-direction: column;
    width: 300px;
    flex-shrink: 0;

}


